#usuarios_muestro_foto,#usuarios_muestro_foto_e{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#usuarios_muestro_foto img,#usuarios_muestro_foto_e img{
    box-shadow: 0px 0px 4px black;
}