:root{
    --base_url:url('../img/login.jpg');
    /*--base_url:url('http://development.elaborapp.com/saps/cargas/cargando.gif');*/
}

#fondo_login{
    position: absolute;
    background:var(--base_url) no-repeat center center fixed;
    padding: 10px;
    background-size: 1920px 1080px, cover;
    filter: blur(10px);
    width: 100%;
    height: 100%;

    overflow: hidden;
 }

body{
    width: 100%;
    height: 100%;
}

.login{
    height: 100%;
    padding: 17vh 5% 5% 5%;
    position: relative;
    z-index: 2;
}

.login input{
    background: transparent;
    border: none;
    padding-left: 10px;
    border-right: none;
    width: 100%;
    color: #1f77c1;
}
.login input:focus{
    color: #135f90;
    background-color: transparent;
    outline: 0px;
    box-shadow: none;
}
.swal2-styled.swal2-confirm:focus{
    background-color: transparent;
    outline: 0px;
    box-shadow: none;
}
.login input::placeholder{
    color: rgba(255, 36, 78, 0.48);
}
#cuerpo_login{
    text-align: center;
   width: 500px;
    /*border:solid #DB244B ;*/

}

.boton_mapvd{
    border:solid 1px #0E2F4F;
    background: #0e4067;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.boton_mapvd:hover{
    border:solid 1px #144b76;
    background: #135885;
}

.boton_mapvd:focus{
    outline: none;
}


.boton_mapvd_modals{
    border:solid 1px #DB244B ;
    background: transparent;
    color: #DB244B;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 35px;
    padding-right: 35px;

}

 .boton_mapvd_modals:hover {
    background-color: #DB244B ;
    color:white;
    align-content: center;
}
.icon_ticket{
    color:#DB244B;
}

@media (max-width: 767px) {

}

tr.tickets-eliminado td, tr.tickets-eliminado td:hover{
    color: red;

}
tr.tickets-eliminado_padre td, tr.tickets-eliminado_padre td:hover{
    color: #ffc110;

}

.tickets-cierre-modal{
    display:inline-block;
    margin-top:-40px;
    border: none;
    width: 100%;
}

.fa{
  cursor: pointer;
}
.fa:hover{
    color:#DB244B;
}

.t_estatus_tickets{
    cursor: pointer;
}
.t_estatus_tickets:hover{
    background: whitesmoke;
}

.btn-info:hover{
    background-color: #b03b5b;
    border: 1px #b03b5b;;
}
.fa-file-excel-o{
    color: #008e8e;
}
.alert-warning{
    background-color: #ffb07f;
}


.fa-plus-circle,.fa-eye{
    color:#DB244B;
}
.fa-plus-circle:hover,.fa-eye:hover{
    color: #b03b5b;
}
.alert-info{
    background-color: #1cdbfc;
}

@media screen and (max-height: 500px) {
 #map,#grafica{
     height: 130px;
 }
    #imagen_logo_vd img{
        width: 100%;
    }
}

@media screen and (min-height: 501px) and (max-height: 720px) {
    #map,#grafica{
        height: 250px;
    }
    #imagen_logo_vd img{
        width: 90%;
    }
}
@media screen and (min-height: 721px) and (max-height: 1080px) {
    #map,#grafica{
        height: 450px;
    }
    #imagen_logo_vd img{
        width: 70%;
    }
}
@media screen and (min-height: 1081px) {
    #map,#grafica{
        height: 600px;
    }
    #imagen_logo_vd img{
        width: 80%;
    }
}
.data_table_historial tbody>tr>td:not(:nth-child(6)){
    cursor: pointer;
}
footer{
    padding: 20px;
    text-align: center;
}

.panel-default .panel-heading{
    background-color: #e5e5e5;
}

#imagen_logo_vd{
    text-align: center;
    margin-bottom: 10px;
}


.iconos_login{
    line-height: inherit;
    font-size: 30px;
}
.agrupo_inp_ico{
    border: solid 1px white;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top:20px;
    margin-bottom: 20px;
}
.agrupo_inp_ico:focus-within{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.agrupo_inp_ico:hover:not(:focus-within){
    box-shadow: 0 0 0 0.2rem rgba(229, 229, 229, 0.95);
}
.profile{
    background-color: #0E2F4F;
}

.x-navigation li > ul li > a:hover {
    background: #1869ac;
}

.x-navigation li > ul li > a {
    background: #0e2644;
    color: white;
}

.x-navigation li > ul li.active > a {
    background: #0e2644;
    color: #db234b;
}

.highcharts-credits{
    display: none;
}

.cargando-ubicaciones{
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    z-index: 999999;
    background-color:#000000e0;
}

.cargando-ubicaciones p{
    margin-top: 35vh;
}