:root{
    --base_url:url('http://development.elaborapp.com/mapvd/assets/img/logo_vinosdiso.png');
    /*--base_url:url('http://development.elaborapp.com/saps/cargas/cargando.gif');*/
}

#fondo_login{
    position: absolute;
    background:var(--base_url);
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    width: 90%;
    height: 80%;
    top: 5%;
    left: 5%;
 }

body{
    width: 100%;
    height: 100%;
}

.login{
    background-color: rgba(207, 64, 85, 0.3);
    height: 100%;
    padding: 15%;
    position: relative;
    z-index: 2;
}

.login input{
    background: transparent;
    border-top: none;
    border-left: none;
    padding-left: 10px;
    border-right: none;
    width: 100%;
    color: #DB244B;
    border-bottom: solid 2px #DB244B;
}
.login input:focus{
    color: #cf4055;
   border-bottom: solid 2px #cf4055;
    outline: 0px;
}
.login input::placeholder{
    color: darkgrey;
}
#cuerpo_login{
    text-align: center;
   width: 500px;
    /*border:solid #DB244B ;*/

}

.boton_mapvd{
    border:solid #DB244B ;
    background: transparent;
    color: #DB244B;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 50px;
    padding-right: 50px;

}
.boton_mapvd_modals{
    border:solid 1px #DB244B ;
    background: transparent;
    color: #DB244B;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 35px;
    padding-right: 35px;

}

.boton_mapvd:hover, .boton_mapvd_modals:hover {
    background-color: #DB244B ;
    color:white;
    align-content: center;
}
.icon_ticket{
    color:#DB244B;
}

@media (max-width: 767px) {

}

tr.tickets-eliminado td, tr.tickets-eliminado td:hover{
    color: red;

}
tr.tickets-eliminado_padre td, tr.tickets-eliminado_padre td:hover{
    color: #ffc110;

}

.tickets-cierre-modal{
    display:inline-block;
    margin-top:-40px;
    border: none;
    width: 100%;
}

.fa{
  cursor: pointer;
}
.fa:hover{
    color:#DB244B;
}

.t_estatus_tickets{
    cursor: pointer;
}
.t_estatus_tickets:hover{
    background: whitesmoke;
}

.btn-info:hover{
    background-color: #b03b5b;
    border: 1px #b03b5b;;
}
.fa-file-excel-o{
    color: #008e8e;
}
.alert-warning{
    background-color: #ffb07f;
}

.fa-plus-circle{
    color:#DB244B;
}
.fa-plus-circle:hover{
    color: #b03b5b;
}
.alert-info{
    background-color: #1cdbfc;
}

@media screen and (max-height: 500px) {
 #imprimo_mapa{
     height: 250px;
 }
}

@media screen and (min-height: 501px) and (max-height: 720px) {
    #imprimo_mapa{
        height: 450px;
    }
}
@media screen and (min-height: 721px) and (max-height: 1080px) {
    #imprimo_mapa{
        height: 700px;
    }
}
@media screen and (min-height: 1080px) {
    #imprimo_mapa{
        height: 900px;
    }
}